{% include 'layout.html' %}

{% block content %}

<div class="container">
    <h1 class="m-3">Categorias de gastos</h1>
    <hr />
    <div class="col-md-12">
        <h2>Inserir nova</h2>
        <form action="{% url 'categorias' %}" method="POST">
            <div class="form-group row align-items-end">
                <div class="form-group col-sm">
                    <label for="name">Nome:</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
                <div class="form-group col-6">
                    <label for="description">Descrição:</label>
                    <input type="text" class="form-control" name="description" id="description">
                </div>
                <div class="form-group col-sm">
                    <label for="category_type">Tipo:</label>
                    <select class="form-control" name="category_type" id="category_type">
                        {% for type in cat_type %}
                        <option value="{{type.0}}">{{cat_type|get_item:type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary col-sm bottom mb-3" style="max-height: 45px;"
                    type="submit">Criar</button>
        </form>
    </div>
    <hr />
    <div class="col-md-12">
        <h2>Lista de categorias</h2>
        <table class="table col-lg-12">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <th>
                        {{categoria.name}}
                    </th>
                    <th>
                        {{categoria.description}}
                    </th>
                    <th>
                        {{cat_type|get_item:categoria.category_type}}
                    </th>
                    <th>
                        <form action="{% url 'delete_categorias' categoria.id %}" method="POST">
                            <button class="btn btn-primary col-sm bottom mb-3" style="max-height: 45px;"
                                type="submit">Delete</button>
                        </form>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}